@import "~bootstrap/scss/bootstrap.scss";
#app{
    
    background-color: #191919		;
    color: lightgray;
    
}
.songs{
    &-list{
        list-style-type: none;
        padding: 0;
        margin: 0;
        background-color: white;
    }
}
    .song{
        border-bottom: #222 1px solid;
        padding: 0.5rem 1rem;
        
        &.selected{
            background-color: transparentize($color:white, $amount: 0.6);
        }
        &:hover{
            background-color: transparentize($color:white, $amount: 0.8);
        }
        &-number{
            padding: 0.5rem 1rem;
            color: white;
            margin-right: 1 rem;
        }
    }


 
     





